<div class="h-full bg-gray-100">
  <main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">

      <%= render "decks/sidebar", deck: params[:deck_id] %>
    </div>
  </main>
</div>
